
1. Crea tres variables numéricas de tipo entero (entero), llamadas de la siguiente forma:

In [15]:
numero1 = 6
numero2 = 10
numero3 = 3

     ¿En tu caso, es el numero1 mayor que el numero2?

In [9]:
numero1 > numero2

False

     ¿Es el numero1 menor que el numero2 pero mayor que el numero3?

In [10]:
print(numero1 < numero2 
      and numero1 > numero3)

True

      ¿Es el numero3 igual que el numero2?

In [16]:
numero3 == numero2

False

     ¿Es el numero2 distinto que el numero1?

In [17]:
numero2 != numero1

True

2. Crea dos variables numéricas de tipo float (decimal) con dos decimales, llámalas de la siguiente forma:

In [19]:
altura1 = 1.6
altura2 = 1.82

     ¿Cuál es la suma de las dos alturas?

In [20]:
print(altura1 + altura2)

3.42

      ¿Cuál es la diferencia entre las alturas?

In [27]:
print(altura2 - altura1)

0.21999999999999997

    ¿Cuál es el resto de la división de las dos alturas?

In [24]:
print(altura2 % altura1)

0.21999999999999997

    Cuál es el resultado de la división de las dos alturas, redondeado el resultado a un decimal.

In [30]:
print(round(altura2 / altura1, 1))

1.1

### 3. Escribe un programa usando la función input()que le pregunta al usuario su nombre y apellidos. Una vez que tengamos el nombre del usuario:

In [37]:
input('escribe tu nombre y apellidos')

'Marina Palenzuela González'

In [39]:
nombre_apellidos = 'Marina Palenzuela González'

     Imprima su nombre y apellidos todo en mayúsculas

In [40]:
print(nombre_apellidos.upper())

MARINA PALENZUELA GONZÁLEZ

    Imprima su nombre y apellidos todo en minúsculas

In [41]:
print(nombre_apellidos.lower())

marina palenzuela gonzález

    Imprima su nombre y apellidos con la primera letra del nombre y los apellidos en mayúscula y el resto en minúscula.

In [42]:
print(nombre_apellidos.title())

Marina Palenzuela González

     Imprime solo la primera letra del nombre en mayúscula.

In [43]:
print(nombre_apellidos.capitalize())

Marina palenzuela gonzález

### 4. Escribe un programa usando la función input()que:

   Le pregunte al usuario por una frase, almacenad este resultado en una variable.

In [44]:
input('escribe una frase')

'Hola mundo, estoy practicando la lección 1'

In [45]:
frase = 'Hola mundo, estoy practicando la lección 1'

Le pregunte al usuario por una voz, almacenad este resultado en una variable.

In [49]:
input('dime una vocal')

'a'

In [50]:
vocal = 'a'

Imprime la misma frase pero con la vocal introducida en mayúsculas.

In [51]:
print(frase, ' ', vocal.upper())

Hola mundo, estoy practicando la lección 1   A

### 5. Crea un programa que realiza los siguientes pasos:

In [52]:
input("introduce tu lista de la compra")

'leche, pan, huevos, fruta'

In [53]:
lista_compra = "leche, pan, huevos, fruta"

   Convierte la entrada del usuario en una lista donde cada elemento sea un ítem de la compra.

In [74]:
print(lista_compra.split())

['leche,', 'pan,', 'huevos,', 'fruta']

   Muestra cada elemento de la lista en una nueva línea.

In [78]:
lista_compra_separada = ("leche, pan, huevos, fruta".join())
print(" , "join(lista_compra_separada))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (340609121.py, line 2)